<div class="navbar">  
    <div class="home">
      <%= link_to root_path do %>
        <span class="material-symbols-outlined back">arrow_back_ios</span>
      <% end %>
    </div>

    <div class="page"><%= location %></div>

    <div class="image">
      <%= image_tag("money.png", class: "money") %>
    </div>
</div>