<div class="front">

  <div class="title_app">
    <h1 class="app_name">Anything left?</h1>
  </div>

  <div class="access">
    <div class="in">
      <%= link_to 'Log in', new_user_session_path, class: "access_btn" %>
    </div>
    <div class="up">
      <%= link_to 'Sign up', new_user_registration_path, class: "access_btn" %>
    </div>
  </div>
</div>