.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3778c2;
  color: #fff;
}

.back,
.out_btn {
  color: #fff;
}

.money {
  width: 25px;
}

.out {
  background-color: transparent;
  border: none;
}
